<div class="admin-container">

  <!-- SIDEBAR -->
  <aside class="admin-sidebar">

    <div class="admin-logo">
      🛒 ADMIN SHOP
    </div>

    <nav>

      <a
        routerLink="/admin/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        📊 Dashboard
      </a>

      <a
        routerLink="/admin/products"
        routerLinkActive="active"
      >
        📦 Sản phẩm
      </a>

      <a
        routerLink="/admin/orders"
        routerLinkActive="active"
      >
        🛍️ Đơn hàng
      </a>

      <a
        routerLink="/admin/users"
        routerLinkActive="active"
      >
        👤 Người dùng
      </a>

    </nav>

  </aside>


  <!-- MAIN -->
  <main class="admin-main">

    <!-- HEADER -->
    <header class="admin-header">

      <h2>
        Quản trị hệ thống
      </h2>

      <button>
        Đăng xuất
      </button>

    </header>


    <!-- CONTENT -->
    <section class="admin-content">

      <router-outlet></router-outlet>

    </section>

  </main>

</div>